@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
        font-family: 'Roboto', 'sans-serif';
  /*padding-top:50px;*/
}
footer{
  /*padding-top:50px;*/
}

.float-left {
float: left;
}
.avatar {
border-radius: 50%;
width: 140px;
margin-right: 20px;
float: left;
transform: translate(-50%, -50%);
}
#resume_container{
 /*font-size: 1rem; */
}
#resume_projects {
  /*font-size: 1.5rem;*/
  /*text-align: justify;*/
  text-justify: inter-word;

}

#resume_projects hr {
page-break-after: always;

}


#resumesidebar {
        font-size: .9em;
  float: right;
  margin-left: 2em;
  width: 20%;
}

#resume_projects  h1, h2, h3, h4 {
}

@media print {

#resume_projects {
  /*font-size: 1.2rem;*/
  /*text-align: justify;*/
  text-justify: inter-word;

}
hr {
page-break-after: always;

}
  .container {
    /*font-size: .6em;*/
  }

  .navbar {
    display: none !important;

  }

  .no-print {
    display: none !important;

  }


}

