p {
  text-align: justify;
  text-justify: inter-word;
}
.container {

  padding: 16px;

}
.content {
line-height: 1.9;
}
#resume_projects  h1, h2, h3, h4 {
}

@media print {

#resume_projects {
  /*font-size: 1.2rem;*/
  /*text-align: justify;*/
  text-justify: inter-word;

}
hr {
page-break-after: always;

}
  .container {
    /*font-size: .6em;*/
  }

  .navbar {
    display: none !important;

  }

  .no-print {
    display: none !important;

  }

}

