<div class="container flex p-2">
  <div class="flex-1">
    <img class="block h-16 w-16 sm:h-24 sm:w-24 rounded-full mx-auto" src="{{ .Site.Params.avatar }}"></img>
  </div>
  
  <div class="flex-none">
  <p class="" >{{ .Site.Params.name }} </p>

  </div>
  <a class="flex-1" href="https://github.com/{{ .Site.Params.github_username }}" > <i class="fab fa-github"></i> </a>
    <a href="mailto:{{ .Site.Params.contact_email }}">
      <i class="far fa-address-card sm"></i>
 {{ .Site.Params.street }} 
 {{ .Site.Params.city_state_zip }}
 {{ .Site.Params.phone }}
    </a>
</div>
