<div class="d-print-none navbar navbar-default ">
        <div class="container">
                <div class="navbar-header">
                        <a href="/" class="float-left">{{ .Site.Title }}</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                        <ul class="nav navbar-nav navbar-right">
                                {{ range .Site.Pages.GroupBy "Section" }}
                                <li><a href="/{{ .Key }}">{{ .Key }}</a></li>
                                {{ end }}
                                </li> 
                        </ul>
                </div>
        </div>
</div>
